.infoBox {
    flex:1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    color: #900404;
    font-weight: 600px;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: rgb(57, 57, 117);
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.infoBox--selected {
    border-top: 10px solid rgb(44, 136, 44);
}

.infoBox--red {
    border-color: red;
}

.infoBox__cases--green {
    color: rgb(44, 136, 44) !important;
}